.drawer {
  width: 250px;
  background: linear-gradient(to bottom right, #ffcccb, #ffebcd);
  transition: width 0.3s ease;
}

.logoContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  width: 80%;
  height: auto;
}

.list {
  padding: 0;
  margin-top: 20px;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.listItem:hover {
  background-color: rgba(255, 182, 193, 0.5); /* Light pink on hover */
}

.listItemIcon {
  color: #ff6347; /* Tomato color for icons */
}

.listItemText {
  font-weight: 500;
  color: #ff6347; /* Tomato color for text */
}

.hamburgerButton {
  position: fixed; /* Fixed positioning */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
  z-index: 1000; /* Ensure it's on top */
  font-size: 30px; /* Make the icon larger */
  color: #ff6347; /* Color for visibility */
}

@media (max-width: 600px) {
  .drawer {
      width: 200px;
  }
}

@media (max-width: 400px) {
  .drawer {
      width: 150px;
  }
}
